body{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

#head{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
}

#head h3{
    font-size: 1.3em;
}

.emperor{
    width: 330px;
}

#game_container{
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

.wpn_container{
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 20px;
}

.wpn_container_top{
    display: flex;
    justify-content: center;
}

.wpn_container_btm{
    display: flex;
    justify-content: space-between;
}

.wpn{
    position: relative;
    border-radius: 50px;
    padding: 10px;
}

.wpn img{
    width: 5.4em;
}

.rock_btn{
    background-image: url("icons/326596_content_cut_scissors_icon.svg");
}

.tooltip{
    position: absolute;
    padding-top: 20px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-weight: bold;
}

.wpn:hover .tooltip{
    opacity: 1;
}

.score{
    font-weight: bold;
    font-size: 3em;
}

.score_container{
    display: flex;
    flex-direction: column;
    width: 180px;
}

.score_container_top{
    display: flex;
    justify-content: space-around;
    height: 140px;
}

.score_container_btm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_container_btm p, .score_container_btm{
    height: 70px;
}

.score_container_btm p{
    width: 180px;
}
